/*
 *  pxltrade bs-carousel component
 * --------------------------------------------------*/

// Variables
// -------------------------
@carousel-control-top: 200px;

// Mixins
// -------------------------



// General settings
// -------------------------
.pxltrade-bs-carousel.carousel {
  position: relative;
  margin: 0 @carousel-control-width/2;
  padding: 20px 0;
  height: auto;

  > .carousel-inner {
    margin-top: 0;

    .item {

      &.active {

      }
    }
  }

  > a.carousel-control {
    display: block;
    position: absolute;
    top: @carousel-control-top;
    bottom: auto;
    padding: 0;
    width: @carousel-control-width;
    font-size: 50px;
    text-shadow: none;
    color: @pxl-color-red;
    #pxl-mixins.border-radius(20px);
    border: 2px solid @pxl-color-red;
    background: @pxl-color-bg;

    &.left {
      left: -(@carousel-control-width/2);
      .border-left-radius(0);
      border-left-width: 0;
      .box-shadow(@pxl-box-shadow-left);

      .fa {
        margin-left: -10px;
      }
    }

    &.right {
      right: -(@carousel-control-width/2);
      .border-right-radius(0);
      border-right-width: 0;
      .box-shadow(@pxl-box-shadow-right);

      .fa {
        margin-right: -10px;
      }
    }
  }
}

