/*
 *  Modal dialog component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// General settings
// -------------------------
.modal {
  .modal-backdrop {
    background-color: #aaa;
    &.in {
      opacity: 0.7;
    }
  }

  .modal-dialog {
    margin: 0 auto;
    width: 100%;

    .admin-menu & {
      margin: 29px auto 0;
    }

    @media @narrow {
      min-width: 480px;
      width: 90%;
      max-width: 690px;
    }
    @media @tablet {
      width: 90%;
      max-width: 800px;
    }
    @media @normal {
      width: 800px;
    }

    .modal-content {
      position: relative;
      padding: 0;

      #pxl-mixins.border-radius(0);
      border: none;
      #pxl-mixins.box-shadow(none);

      .modal-header {
        padding: 0;
        min-height: 60px;
        border: none;

        h2.modal-title {

        }

        button.close {
          display: block;
          position: absolute;
          top: 0;
          right: 10px;
          opacity: 1.0;
          z-index: 1; // has to be above body

          span {
            padding: 0;
            font-family: @pxl-text-font;
            font-size: 60px;
            font-weight: normal;
            color: @pxl-color-red;
          }
        }
      }

      .modal-body {
        // content styled separately
        padding: 0 10px 40px;
        height: auto !important;

        @media @narrow {
          padding: 0 30px 40px;
        }
      }

      .modal-footer {
        display: none;
        border: none;
        text-align: center;

        .btn {
          // close button
          display: inline-block;
          font-family: @pxl-text-font-bold;
          color: @pxl-color-red;
          #pxl-mixins.border-radius(@border-radius-large);
          border: 2px solid @pxl-color-red;
          background-color: @pxl-color-bg;
          .box-shadow(@pxl-box-shadow);

          &:hover {
            color: @pxl-color-bg;
            background-color: @pxl-color-red;
          }

        }
      }
    }
  }
}
