/*
 *  Offer node component
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-row-margin-top: 50px;

@row-first-height-small: 200px;
@row-first-height: 300px;

@pxl-label-color: #888;

// Mixins
// -------------------------

.wysiwyg-body() {
  h1, h2, h3, h4, h5, h6 {
    font-family: @pxl-title-font;
    font-size: 18px;
  }
  h1, h2 {
    font-size: 26px;
    color: @pxl-color-red;
  }
  h3, h4 {
    font-size: 22px;
    color: @pxl-color-red;
  }

  p, tbody td {
    font-family: @pxl-text-font;
    font-size: 18px;
    #pxl-mixins.hyphenate;
  }

  pre, address {
    font-family: @pxl-text-font-bold-italics;
    font-size: 18px;
    color: @pxl-color-red;
    text-align: center;
  }

  hr {
    border: 0;
    border-bottom: 1px solid @pxl-color-icon-light;
    background: none;
  }

  strong {
    font-family: @pxl-text-font-bold;
  }

  img, embed, video, audio, iframe {
    display: block;
    overflow: hidden;
    margin: 20px auto;
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%; // 16:9 ratio
  }
}


// General settings
// -------------------------
.node.node-offer {
  >.row {
    margin-top: @pxl-row-margin-top;

    &.row-top {
      // top row
      margin-top: 0;

      .col-sm-12 {
        .field-name-title {
          margin: 0 auto;
          width: 80%;

          h2 {
            display: block;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            font-family: @pxl-text-font-bold;
            color: @pxl-color-red;
            text-align: center;
            text-overflow: ellipsis;
            font-size: @font-size-large;
          }
        }

        .field-name-field-subtitle,
        .field-name-post-date {
          text-align: center;
          font-size: @font-size-small;
        }
      }
    }

    &.row-first {
      // first row
      .col-left {
        .field-name-field-images {
          .field-item:not(:first-child) {
            // show only first image
            display: none;
          }

          a.colorbox {
            img {
              margin: 0 auto;
              width: auto;
              max-width: 90%;
              max-height: @row-first-height-small;
              #pxl-mixins.border-radius(7px);
              border: 1px solid @pxl-color-icon-light;

              @media @narrow {
                max-height: @row-first-height;
              }
            }
          }
        }
      }

      .col-right {
        padding-top: 20px;

        @media @tablet {
          padding-top: 0;
        }

        .field-label {
          width: 30%;
          min-width: 140px;
          font-family: @pxl-text-font;
          font-size: 18px;
          color: @pxl-label-color;
          font-weight: normal;
        }

        .field-name-field-category {

        }

        .field-name-field-sex {

        }

        .field-name-field-preferred-delivery {

        }

        .field-name-body {
          margin: 0 0 20px;
          .wysiwyg-body;
          font-size: 18px;

          .field-label {
            display: none;
          }
        }

      }
    }

    &.row-second {
      // second row
      .col-sm-12 {
        .btn.accept-offer {
          display: block;
          margin: 0 auto 50px;
          min-width: 50%;
          font-family: @pxl-text-font-bold;
          color: @pxl-color-red;
          #pxl-mixins.border-radius(@border-radius-large);
          border: 2px solid @pxl-color-red;
          background-color: @pxl-color-bg;
          .box-shadow(@pxl-box-shadow);

          &:hover {
            color: @pxl-color-bg;
            background-color: @pxl-color-red;
          }

          span {
            &.fa {
              padding-right: 20px;
            }

            &.btn-label {
            }
          }
        }

        .collapse {
          >.row {
            margin: @pxl-row-margin-top 0 0;

            .col-left {
              padding: 0;

              .field-label {
                width: 30%;
                min-width: 100px;
                font-family: @pxl-text-font;
                font-size: 18px;
                color: @pxl-label-color;
                font-weight: normal;
              }

              .field-name-field-address {
                font-size: 18px;

                .name-block {
                  .first-name {
                  }

                  .last-name {
                  }
                }

                .street-block {
                  .thoroughfare {
                  }
                }

                .locality-block {
                  .country {
                  }
                }
              }

              .field-name-field-email {
                .field-item {
                  a {
                    font-size: 18px;
                  }
                }
              }

              .field-name-field-phone {
                .field-item {
                  font-size: 18px;
                }
              }
            }

            .col-right {
              padding-top: 20px;

              @media @tablet {
                padding-top: 0;
              }

              .field-name-field-delivery-form {
                .field-item {
                  // webform styled in node-webform.less
                }
              }
            }
          }
        }
      }
    }
  }
}
