/*
 *  Exposed form
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------
.checkbox-size(@pxl-check-gutter: 10%) {
  margin: 0 @pxl-check-gutter/2;
  padding: 0 0 100% - @pxl-check-gutter; // square
  height: 0;
}

.pxl-checkbox(@icon-width: 60%; @icon-y-shift: 0; @img-border-color: @pxl-color-red) {
  display: inline-block;
  margin: 5px 10px;
  width: 60px;
  vertical-align: top;

  .form-item {
    position: relative;
    .checkbox-size;
    #pxl-mixins.border-radius(50%);
    background-color: @pxl-color-icon-dark;

    input {
      display: none;
    }

    .control-label {
      display: block;
      width: 100%;
      height: 100%;
      font-weight: normal;

      > img {
        position: absolute;
        left: 0;
        top: @icon-y-shift;
        #pxl-mixins.translateY(-50%);
        margin: 0 (100% - @icon-width)/2;
        width: @icon-width;
        height: auto;
        border: 1px solid @img-border-color;
      }

      > .checkbox-title {
        display: none;
        position: absolute;
        left: 50%;
        bottom: -70%;
        #pxl-mixins.translateX(-50%);
      }
    }
  }

  &.selected .form-item  {
    background-color: @pxl-color-red;
    .box-shadow(0 0 3px @pxl-color-red);
  }
}

.submit-button(@color: #fff; @bg-color: @gray-light) {
  display: inline-block;
  margin: 0;
  padding: 3px 8px;
  font-family: @pxl-text-font-bold;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: @color;
  outline: none;
  #pxl-mixins.border-radius(@border-radius-base);
  border: 1px solid darken(@bg-color, 5%);
  background-color: @bg-color;

  @media @tablet {
    padding: 4px 12px;
    font-size: 14px;
  }
  @media @normal {
    padding: 6px 15px;
    font-size: 17px;
  }

  &:hover {
    color: @bg-color;
    background: none;
  }
}


// Main settings
// -------------------------
form {
  .views-exposed-form {
    padding: 20px 0;

    .views-exposed-widgets {
      position: relative;
      margin: 0;

      .views-exposed-widget {
        float: none;
        padding: 0;

        // term filter
        > label {
          display: block;
          margin: 10px auto;
          width: 100%;
          font-family: @pxl-text-font-bold;
          font-size: @font-size-large;
          color: @pxl-color-red;
          text-align: center;
        }

        .views-widget {
          .form-item {
            .form-text {
              // location filter
              margin: 0 auto 20px;
              width: 100%;
              max-width: 500px;
              #pxl-mixins.border-radius(5px);
              border: 2px solid @pxl-color-red;
            }

            .pxl-checkboxes {
              // term filters
              text-align: center;
              font-size: @font-size-small;

              .pxl-checkbox{
                .pxl-checkbox(90%, 40%, none);
              }
            }

            .help-block {
              display: none;
            }
          }
        }

        &.views-submit-button {
          display: none;
          text-align: right;
          margin: 0;
          padding: 10px 0 0;

          @media @tablet {
            padding: 20px 0 10px;
          }
          @media @normal {
            padding: 35px 0 25px;
          }

          button {
            .submit-button(#fff, @pxl-color-red);
          }
        }

        &.views-reset-button {

        }

      }
    }
  }
}
