/*
 *  Post grid view component
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-badge-dim: 30px;
@pxl-badge-border-color: transparent;
@pxl-badge-bg-color: @pxl-color-red;

@pxl-item-grid-gutter: 5px;
@pxl-item-bg: #ccc;


// Mixins
// -------------------------



// General settings
// -------------------------
.view-post-grid {
  margin: 20px 0 0;
  width: 100%;

  @media @tablet {
    margin: 25px 0 0;
  }
  @media @normal {
    margin: 50px 0 0;
  }

  .view-content {
    .pe-container {
      .pe-item {
        position: relative;
        display: inline-block;
        margin: 0 -2px;
        width: 50%;
        padding: @pxl-item-grid-gutter;
        height: auto;

        @media @narrow {
          width: 33.3333333%;
        }
        @media @tablet {
          width: 25%;
        }
        @media @normal {
          width: 20%;
        }

        .pe-item-inner {
          position: relative;
          margin: 0;
          #pxl-mixins.border-radius(@border-radius-large);
          background: @pxl-item-bg none;

          a.btn {
            display: block;
            padding: @pxl-badge-dim/2;

            .views-field-field-image {
              padding: 0;

              img {
                width: 100%;
                height: auto;
                min-width: 100%;
              }
            }

            .views-field-nid {
              position: absolute;
              top: -@pxl-badge-dim/4;
              right: -@pxl-badge-dim/4;
              width: auto;
              height: @pxl-badge-dim;
              text-align: center;
              #pxl-mixins.border-radius(@pxl-badge-dim/2);
              background: @pxl-badge-bg-color none;

              .field-content {
                display: block;
                padding: 0 10px;
                width: auto;
                min-width: @pxl-badge-dim;
                font-family: @pxl-text-font;
                font-size: @font-size-base;
                color: @text-color-light;
                line-height: @pxl-badge-dim;
              }
            }
          }
        }  // pe-item-inner
      }  // pe-item
    }  // pe-container
  }  // content
}
